<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-user-plus"></i> About</h1>
        <p>This web app makes uses of a handful of thirdparty services</p>
        <p>Including the use of passport for authentication during login so</p>
        <p>access to pages is protected and user has to login before accessing main dashboard</p>
        <p>mongoose is also used to handle access to the mongodb database and collections</p>
        <p>In addition the bootstrap template flatly has been used to pretty up forms. </p>
    </div>
  </div>